


<% layout("/layouts/boilerplate")%>

  <!-- <form method="get" action="/listings/new">
         <button>Add new place</button>
    </form>
-->

<div class="container-box">
  <% for (let list of allListing) { %>
    <div class="card listing-card" style="width: 25rem;">
        <a href="/listings/<%=list.id%>">
  <img src="<%=list.image.url%>" class="card-img-top" alt="place_image">

  <div class="card-img-overlay"></div>
  <div class="card-body">
    <div class="card-desc">
       <a href="/listings/<%=list.id%>" class="title"><%=list.title%></a><br>
        <%=list.location%> ,<%=list.country%>  <br>
        &#8377;<%=list.price.toLocaleString("en-IN")%>
    </div>
  </div>
</div>
</a>
    <%}%>
    </div>

    <br>
    <br><br><br><br><br><br><br><br><br>
    

